body{
    background-image: url("diary2.jpeg");
    background-size: cover;	
    background-repeat: no repeat;
    }
.heading{
    margin-top: 300px;
    margin-left: 150px;
    border: 3px dashed black;
    border-radius: 10px;
    width:500px;
    
}
nav a{
    float: right;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    overflow:hidden;
    background-color:white; 
    margin: 5px;     
}
nav a:hover{
    background-color:black;
    color:yellow;
}
.h{
    word-spacing: 10px;
    color:rgb(223, 213, 213);
    color:darkmagenta;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:2px 2px 0 black;
}
