*{box-sizing: border-box;}

body {
margin: 0;
}
header{
background-image: url("diary2.jpeg");
background-size: cover;
background-repeat: no repeat;
height: 100%;
}
#heading1{
   color:black;
   font-style: italic;
   text-align: left;
}
.topnav a{
float: right;
display: block;
color: black;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
margin: 5px;
overflow:hidden;
background-color: #e9e9e9;
}
.topnav a:hover{
background-color:black;
color:yellow;
}
.topnav .search-container {
float: right;
display:block;
margin-top: 0px;
padding: 14px 16px;
font-size: 17px;
border: none;
cursor: pointer;
}
#textarea{
height:300px;
}
.topnav .search-container button:hover {
background: #ccc;
}
@media screen and (max-width:600px){
.topnav .search-container {
float: none;
}
.topnav a, .topnav input[type=text],
.topnav .search-container button {
float: none;
display: block;
text-align: center;
width: 100%;
margin: 0;
padding: 14px;
}
.topnav input[type=text]{
border: 1px solid #ccc;
}
}
details{
   color:darkblue;
   text-align: left;
}
#submit{
  background-color:white;
  color:black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:45%;
}
  #submit:hover{
     background-color:blue;
      color:white;

  }
  #sub{
      float: right;
      background-color:white;
      color:black;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-right: 10px;
  }
  #sub:hover{
   background-color:red;
   color:white;
  }
  span{
   visibility: hidden;
   width: 120px;
   background-color:brown;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
  }

  
  