#h{
	background-color:blue;
	color:white;
	text-align:center;
	margin-top:0px;
	height:15%;
}
.center{
	background-color:none;
	width:40%;
	height:50%;
	border:1px solid #73AD21;
	color:black;
	margin:auto;
	margin-top:100px;
	border-radius:5px;
}
input[type=text],input[type=password]{
	width:80%;
	border:2px solid black;
	color:black;
	padding:5px;
}
p{
	margin-top:0px;
}
.log1{
	background-color:blue;
	color:white;
	padding:5px;
}