body{
    font-size: 120%;
    background: #7f887c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.header{
    width: 30%;
    margin: 50px auto 0px;
    color: white ;
    background:#0099cc;
    text-align: center;
    font-family: Calibri;
    border: 1px solid #73AD21;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;

}
.content{
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #595c51;
    background: white;
    border-radius: 0px 0px 10px 10px;

}
.input{
    margin:10px 0px 10px 0px;
}
.error{
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94444;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
.success {
    color: #3c763d;
    background: #dff0db;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}
.aa{
    border: 1px solid #032c2e;
    background-color:#032c2e;
    color:white;
    text-align: center;
    font-family:Arial;
    margin-top: 20px;
}
